* {
  padding: 0;
  margin: 0;
}
body{
  background-color: yellow;
}


.parent {
  background-color: orange;
  padding: 16px;
}

.child {
  background-color: lime;
  padding: 16px;
}

.container {
  width: 100vw;
  background-color: aqua;
  border: 1px solid black;
  padding: 16px;
  
  
}

.container-child {
  background-color: red;
  height: 50px;
  width: 90%;
  
}
hr {
  margin: 10px 0;
}


